.js-sandbox{
    position: relative;
    margin-top: 20px;
}
.js-sandbox ul,
.js-sandbox h1 {
    margin: 5px;
    padding-top: 0;
}


.js-sandbox__contentedit-html-btn, .js-sandbox__inspect-html-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #EFEFEF;
    transform: scaleX(-1);
    color: #D6D6D6;
    cursor: pointer;
    transition: all 250ms
}
.js-sandbox__inspect-html-btn {
    border-radius: 0 4px 0 0;
    right: 45px;

}
.js-sandbox__contentedit-html-btn.btn--active,
.js-sandbox__inspect-html-btn.btn--active,
.js-sandbox__contentedit-html-btn:hover,
.js-sandbox__inspect-html-btn:hover {
    background: #C0C0C0;
    color: #000;
}

.js-sandbox__editors-btns {
    position: absolute;
    height: 20px;
    top: -20px;
    left: 0;
    font-size: 12px;
}
.js-sandbox__editors-btns span {
    background: #EFEFEF;
    color: #D6D6D6;
    margin-right: 7px;
    padding: 2px 7px;
    cursor: pointer;
}
.editor-css,
.editor-html,
.rendered-html {
    position: relative;
    height: 200px;
    width: 50%;
    display: inline-block;
}
.rendered-html {
    background-color: #FFF;
    font-size: 1em;
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid #AFAFAF;
    padding: 0 10px;
    box-sizing: border-box;
    overflow: auto;
}
.editor-html + .editor-css {
    border-top: 1px solid #AFAFAF;
}
.editor-css + .editor-html {
    border-top: 1px solid #AFAFAF;
    margin-top: -11px;
}
.editor-css.editor-css,
.editor-html.editor-html,
.rendered-html {
    font-size: .6em;
}
.editor-css {
    position: relative;
    background-color: #FFF;
}
.editor-html {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.bounding-box {
    border: 1px solid red;
    pointer-events: none;
    position: fixed;
    z-index: 9;
    transition: all 250ms;
}
.bounding-box .bounding-box-meta {
    position: absolute;
    top: -17px;
    right: 0;
    height: 17px;
    border: none;
    text-align: right;
    background: purple;
    color: #FFF;
    font-size: 10px;
    padding: 0 5px;
    font-weight: bold;
    pointer-events: all;
}
.bounding-box .bounding-box-meta span {
    cursor: pointer;
}
.bounding-box .bounding-box-meta span:hover{
    background: #FFF;
    color: #000;
    border-radius: 2px;
}

