.js-sandbox{
    position: relative;
    margin-top: 20px;
}
.js-sandbox ul,
.js-sandbox h1 {
    margin: 5px;
    padding-top: 0;
}

.edit-html-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #EFEFEF;
    border-radius: 0 4px 0 0;
    transform: scaleX(-1);
    color: #D6D6D6;
    cursor: pointer;
    transition: all 250ms
}
.edit-html-btn.btn--active {
    background: #C0C0C0;
    color: #000;
}
.editor-css,
.editor-html,
.rendered-html {
    position: relative;
    height: 200px;
    width: 50%;
    display: inline-block;
}
.rendered-html {
    background-color: #FFF;
    font-size: 1em;
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid #AFAFAF;
    padding: 0 10px;
    box-sizing: border-box;
    overflow: auto;
}
.editor-html + .editor-css {
    border-top: 1px solid #AFAFAF;
}
.editor-css + .editor-html {
    border-top: 1px solid #AFAFAF;
    margin-top: -11px;
}
.editor-css.editor-css,
.editor-html.editor-html,
.rendered-html {
    font-size: .6em;
}
.editor-css {
    position: relative;
    background-color: #FFF;
}
.editor-html {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}